@import url(./__photo/photo-grid__photo.css);

.photo-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 16px;
	max-width: 1184px;
	margin: 0 auto;
}

@media (max-width: 1024px) {
	.photo-grid {
		grid-template-columns: repeat(3, 300px);
		grid-template-rows: repeat(4, 1fr);
		grid-gap: 14px;
		margin: 0 auto;
		max-width: 928px;
	}
}

@media (max-width: 768px) {
	.photo-grid {
		grid-template-columns: repeat(2, 352px);
		grid-template-rows: repeat(4, 1fr);
		grid-gap: 16px;
		margin: 0 24px;
		max-width: 720px;
	}
}

@media (max-width: 425px) {
	.photo-grid {
		grid-template-columns: calc(100vw - 32px);
		grid-gap: 12px;
		margin: 0 auto;
		max-width: calc(100% - 32px);
	}
}