.footer__links {
	list-style-type: none;
	padding-top: 92px;
	margin: 0;
	display: flex;
	padding-left: 0;
}

@media (max-width: 425px) {
	.footer__links {
		flex-direction: column;
		padding-top: 64px;
	}
}