@import url(./__overlay/cover__overlay.css);
@import url(./__link/cover__link.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);

.cover {
	width: 100%;
	max-width: 1184px;
	height: 740px;
	margin: auto;
	display: flex;
}

@media (max-width: 1024px) {
	.cover {
		max-height: 640px;
	}
}

@media (max-width: 768px) {
	.cover {
		max-height: 480px;
	}
}

@media (max-width: 500px) {
	.cover {
		max-height: 200px;
	}
}