.cover__title {
	font-weight: 900;
	font-size: 72px;
	font-height: 76px;
	z-index: 2;
	position: absolute;
	margin: 0;
	top: 283px;
	left: 264px;
}

@media (max-width: 1024px) {
	.cover__title {
		top: 233px;
		left: 184px;
	}
}

@media (max-width: 768px) {
	.cover__title {
		top: 153px;
		left: 56px;
	}
}

@media (max-width: 320px) {
	.cover__title {
		font-size: 32px;
		line-height: 35px;
		top: 51px;
		left: 16px;
	}
}