@import url(./__title/place__title.css);
@import url(./__image/place__image.css);
@import url(./__website/place__website.css);
@import url(./__website-heading/place__website-heading.css);
@import url(./__website-url/place__website-url.css);
@import url(./__paragraphs/place__paragraphs.css);
@import url(./__paragraph/place__paragraph.css);

.place {
	max-width: 984px;
	display: grid;
	grid-template-columns: 1fr 1.052fr;
	grid-column-gap: 40px;
	grid-row-gap: 48px;
	padding-bottom: 80px;
}

.place:last-of-type {
	padding: 0;
}

@media (max-width: 1024px) {
	.place {
		margin: 0 auto;
		max-width: 928px;
		grid-column-gap: 32px; 
		grid-template-columns:  1fr 1.052fr;
	}
}

@media (max-width: 768px) {
	.place {
		max-width: 720px;
		padding: 0 24px 72px 24px;
		grid-column-gap: 28px; 
		grid-template-columns:  1fr 1.052fr;
	}
}

@media (max-width: 425px) {
	.place {
		max-width: 720px;
		padding: 0 0 48px 0;
		display: flex;
		flex-direction: column;
	}
}