@import url(./__links/footer__links.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);

.footer {
	display: flex;
	padding-bottom: 24px;
	justify-content: space-between;
	max-width: calc(1280px - 96px);
	margin: 0 auto;
}

@media (max-width: 1024px) {
	.footer {
		max-width: calc(1024px - 96px);
	}
}

@media (max-width: 768px) {
	.footer {
		max-width: calc(768px - 48px);
	}
}

@media (max-width: 425px) {
	.footer {
		flex-direction: column;
		max-width: 168px;
		margin: 0 16px;
	}
}