@import url(./place__website_url-heading.css);
@import url(./place__website_url.css);

.place__website {
	grid-column-start: 2;
	grid-row-start: 0;
	align-self: end;
}

@media (max-width: 425px) {
	.place__website {
		display: none;
	}
}